{{!-- navbar --}}

{{!-- Body containing the add data card --}}
<section class="container dashboard wrapper">
	<div class="row">
		<div class="col">
            <section class="container wrapper">
                <div class="row"><br>
                    <div class="col-md-6 offset-3">
                        <h2>Welcome to The-Real-Fake-News!</h2>
                            <form action='/articles' method='get'>
                                <div class="form-group">
                                   <label for="task">Press one of the buttons to Scrape "The Onion" or go to the Articles&nbsp;<span class="required"></span></label>
                                </div> 
                            </form>
                    </div>
                </div>
            </section>
		</div>
	</div>
</section>

<div></div>